.center-iamge {
	
	text-align: center; 
}

body, html {
  height: 100%;
  margin: 0;
  padding: 10px; 
	box-size: border-box; 
background: #f0f0f0; 
}

  .about-flex {
  display: flex; 
    flex-direciton: row; 
    justify-content: space-around; 
  }
  .about-flex-item img {
    width: 50%; 
    max-width: 600px; 
    border-radius: 4px 140px 70px 100px; 
    padding-right: 5%; 
  }
  
  .about-flex-item {
  width: 50%; 
  
  }

.bg {
  /* The image used */
  background-image: url("https://hollyhascode.github.io/mothercodesbest/images/mother-codes-best-cover-2.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
  body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
